// =============================================================================

	// PALETTE SCSS
	// Property of Josh Beveridge

// =============================================================================

// Palettes ====================================================================

	// Base Palette
	$white: rgba(255,255,255,1);
	$grey: rgba(225,225,225,1);
	$black: rgba(30,30,30,1);
