// =============================================================================

	// APP SCSS
	// Property of Josh Beveridge

// =============================================================================

// Foundation Imports ==========================================================

	@import "settings";
	@import "foundation";

// Palette =====================================================================

	// Base Palette
	$white: rgba(255,255,255,1);
	$grey: rgba(225,225,225,1);
	$black: rgba(30,30,30,1);

// Typography ==================================================================

	// Body Font
	html {font-size: 8pt};
	@media screen and (min-width:541px) {}
	@media screen and (min-width:641px) {}
	@media screen and (min-width:769px) {html {font-size: 10pt};}
	@media screen and (min-width:1025px) {html {font-size: 12pt};}
	@media screen and (min-width:1281px) {html {font-size: 14pt};}

	// Roboto
	$roboto: 'Roboto', sans-serif;

// Click Response ==============================================================

	.click-response {
		background: $black;
		border-radius: 100px;
		font-smoothing:subpixel-antialiased;
		height: 5vw;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(1) translateZ(1px);
		transition: opacity 0.1s linear, transform 0.1s linear;
		width: 5vw;
		z-index: 500;

		&.active {
			font-smoothing:subpixel-antialiased;
			opacity: 0.3;
			transform: scale(2) translateZ(1px);
			transition: opacity 0.1s linear, transform 0.1s linear;
		}

	}

// Splash Page =================================================================

	.wrapper-content {
		background-image: url('../img/background_splash.jpg');
		background-position: center;
		background-size: cover;
		height: 100vh;
		overflow: hidden;
		position: relative;
		width: 100vw;

		.wrapper {
			display: block;
			padding: 0 15vw;
			position: relative;
				top: 50%;
			text-align: center;
			transform: translateY(-50%);
			width: 100vw;

			h1, h2 {
				color: $white;
				font-family: $roboto;
			}

			h1 {
				font-size: 3rem;
			}

			h2 {
				font-size: 2rem;
				font-weight: 200;
			}

		}

	}

// Imports =====================================================================

	// Jer's Birthday
	@import 'pages/jer.scss';

// Media Queries ===============================================================

	// Phone (Landscape)
	@media screen and (min-width:541px) {}

	// Tablet (Portrait)
	@media screen and (min-width:641px) {}

	// Tablet (Landscape)
	@media screen and (min-width:769px) {}

	// Desktop
	@media screen and (min-width:1025px) {}

	// Desktop XL
	@media screen and (min-width:1281px) {}
