// =============================================================================

	// APP SCSS
	// Property of Josh Beveridge

// =============================================================================

// Foundation Imports ==========================================================

	@import "settings";
	@import "foundation";

// Custom Imports ==============================================================

	@import 'partials/palette';
	@import 'partials/typography';

// Click Response ==============================================================

	.click-response {
		background: $black;
		border-radius: 100px;
		font-smoothing:subpixel-antialiased;
		height: 5vw;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(1) translateZ(1px);
		transition: opacity 0.1s linear, transform 0.1s linear;
		width: 5vw;
		z-index: 500;

		&.active {
			font-smoothing:subpixel-antialiased;
			opacity: 0.3;
			transform: scale(2) translateZ(1px);
			transition: opacity 0.1s linear, transform 0.1s linear;
		}

	}

// Splash Page =================================================================

	.wrapper-content {
		background-image: url('../img/background_splash.jpg');
		background-position: center;
		background-size: cover;
		height: 100vh;
		overflow: hidden;
		position: relative;
		width: 100vw;

		.wrapper {
			display: block;
			padding: 0 15vw;
			position: relative;
				top: 50%;
			text-align: center;
			transform: translateY(-50%);
			width: 100vw;

			h1, h2 {
				color: $white;
				font-family: $roboto;
			}

			h1 {
				font-size: 3rem;
			}

			h2 {
				font-size: 2rem;
				font-weight: 200;
			}

		}

	}

// Media Queries ===============================================================

	// Phone (Landscape)
	@media screen and (min-width:541px) {}

	// Tablet (Portrait)
	@media screen and (min-width:641px) {}

	// Tablet (Landscape)
	@media screen and (min-width:801px) {}

	// Desktop
	@media screen and (min-width:1025px) {}

	// Desktop XL
	@media screen and (min-width:1281px) {}
